        <footer id="footer">
            <span id="footer-name"> Karina Alvarado &copy; 2023</span>
            <a id="email-link" href="mailtokarina@mail.sfsu.edu">Contact Owner</a>
           
        </footer>
