 <h2> Login Form </h2>

        <form action="action.php">
            <p>
                <label for="username">Username</label>   
                <input class="box-shadow" type="text" name="username" id="username" placeholder="Username">
            </p><p>
                <label for="password">Password</label>  
                <input class="box-shadow" type="password" name="password" id="password" placeholder="Password">
            </p><p class="space">
            
                <button class="box-shadow">Submit</button>
            </p>
        </form>

