
           
            <h2> Post Image Form </h2>  

    
        <form action="action.php">
            <p>
                <label for="post title">Post title</label>
                <input class="box-shadow" type="text" name="post title" id="post title" placeholder="Title">
            </p><p>
                <label for="post description">Post description</label>
                <input class="box-shadow"type="text" name="post description" id="post description" placeholder="Description">
            </p><p >
                <label for="image" >Image</label>
                <input type="file" name="image" id="image" placeholder="Image">
            </p><p class="space">
                <input type="checkbox" id="accept image policy" name="accept image policy" >
                <label for="accept image policy"> <a class="no-border" href#="imagePolicy.html">I accept Acceptable Use Policy for uploading images</a>
                </label><br>
            </p>
            <button class="box-shadow">Submit</button>
        </form>
