<h2> View Post </h2>
    <main>
        <img src="https://fakeimg.pl/300/" alt="undetermined website image">
        <section class="view-post"> 
            <p>Post Title: </p>
            <p>Post Author: </p> 
            <p>Post Creation Time: </p>
            <p><img></p>
        </section>
       </main>
